#addTaskForm {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 1.1rem;
  font-family: Roboto;
  margin: calc(50vh - 94px) auto;
  border: 2px solid black;
  padding: 20px;
  border-radius: 10px;
}

#addTaskForm > div {
  display: flex;
  justify-content: space-between;
}

#btnS {
  display: flex;
  gap: 10px;
}
#addTask-btn {
  width: 100%;
  font-size: 1.2rem;
  border: none;
  border-radius: 7px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

#addTask-btn:hover {
  background-color: greenyellow;
}

#description {
  width: 171px;
}

#back-btn {
  width: 100%;
  font-size: 1.2rem;
  border: none;
  border-radius: 7px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

#back-btn:hover {
  background-color: orange;
}
